<header class="flex justify-between pl-1 pr-4 py-4">
    <div class="flex">
        <img class=" w-48 md:w-64"
            src="https://tcmacore.dev.azw2k8-public.impartner.io/static/customer-resources/rv-portal-template/assets/Mitel-Unify-Lockupcolor-1-301120231711.png">
        <img class="w-12 md:w-16"
            src="https://publisher.impartner.io/static/customer-resources/unify-partner-program/assets/1663032294013_pdf_logo.jpeg">
    </div>
    <div class="flex justify-center items-center">
        <button class=" bg-sky-400 px-2 py-1 rounded-lg">
            <svg width="22" height="22" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_66_4645)">
                <path d="M8 30H42V26H8V30ZM8 38H42V34H8V38ZM8 22H42V18H8V22ZM8 10V14H42V10H8Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0_66_4645">
                <rect width="48" height="48" fill="white"/>
                </clipPath>
                </defs>
                </svg>            
        </button>
    </div>
</header>