<div
    class=" flex flex-col lg:pl-52 bg-[url('https://tcmacore.prod.azw2k8-public.impartner.io/static/customer-resources/unify-partner-program/assets/UC-solutions-from-the-1-provider-in-Europe-and-2-globally-061220231112BGFooter-290120240901.png')] bg-cover px-4 py-6 ">
  
  <div>
    <img src="https://publisher.impartner.io/static/customer-resources/unify-partner-program/assets/Mitel-Unify-Lockupcolorwhite-1-061220231112.png" alt="">
  </div>  
  <h1 class="pl-3 lg:whitespace-nowrap text-3xl text-white font-bold">UC-oplossingen van de nummer 1-provider in Europa en nummer 2 wereldwijd</h1>
  <p class="pl-3  text-white">
    Sluit u aan bij 75 miljoen gebruikers, ondersteund door een netwerk van meer dan 5500 partners wereldwijd! Voor meer informatie, ga naar unify.com
  </p>
</div>
