<div
    class=" flex flex-col lg:flex-row lg:justify-center lg:items-center bg-[url('https://tcmacore.prod.azw2k8-public.impartner.io/static/customer-resources/unify-partner-program/assets/Group-27-061220231112BG-290120240901.png')] bg-cover px-4 py-6 ">
    <div class="flex flex-col gap-6 pr-14 ">
        <h1 class="text-3xl text-white font-medium max-w-md">
            Eenvoudige communicatie: Unified Communication-oplossingen van Europa's Nr.1 leverancier
        </h1>
        <div>
            <button
                class="flex justify-center items-center px-4 py-2 gap-2 bg-white border-2 border-sky-400 rounded-full">
                <span class="font-bold text-sky-400 ">Download Brochure</span>
                <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_66_4078)">
                        <path d="M19.9999 12L17.1699 14.83L26.3399 24L17.1699 33.17L19.9999 36L31.9999 24L19.9999 12Z"
                            fill="#38BDF8" />
                    </g>
                    <defs>
                        <clipPath id="clip0_66_4078">
                            <rect width="48" height="48" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
    </div>
    <div class="pt-8">
        <img src="https://publisher.impartner.io/static/customer-resources/unify-partner-program/assets/Unified-Communication-061220231112.png">
    </div>
</div>