<div class=" flex flex-col lg:flex-row lg:justify-center lg:items-center px-4 py-6 bg-gray-100 pt-12">
  <div class="flex flex-col gap-6 pr-14 ">
    <h1 class="text-3xl text-sky-400 font-medium max-w-md">
      Unify Phone
    </h1>
    <p class=" max-w-md">de softphone plug-in voor VoIP-telefonie voor OpenScape-platforms en Microsoft Teams</p>
    <p class=" max-w-md">Verbonden zijn in 2024 betekent dat u meerdere apparaten, apps en platformen gebruikt terwijl u
      wisselt tussen
      werken op kantoor, thuis of in de eerste lijn. U hebt een betrouwbare manier nodig om te communiceren zonder
      onderbrekingen, waar u ook bent.</p>
    <p class=" max-w-md">De perfecte aanvulling op het OpenScape platform van uw keuze is Unify Phone. Een soft
      client-applicatie die u
      onderweg toegang geeft tot VoIP-telefoniemogelijkheden voor Microsoft Teams! Unify Phone is een soft phone plug-in
      voor OpenScape-platforms en Microsoft Teams en biedt:</p>
    <ul class="list-disc ml-8  max-w-md">
      <li>Toegang tot telefoniemogelijkheden zonder premium belplannen
      </li>
      <li>Naadloze combinatie van apparaten en platforms </li>
      <li>Veilige, eenvoudige en kosteneffectieve toegang tot mobiel en hybride werken</li>
    </ul>
    <div class="flex flex-col lg:flex-row gap-7">
      <div>
        <button class="flex justify-center items-center px-4 py-2 rounded-full bg-sky-400 gap-2">
          <span class="font-bold text-white "> Download Brochure</span>
          <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_66_4078)">
              <path d="M19.9999 12L17.1699 14.83L26.3399 24L17.1699 33.17L19.9999 36L31.9999 24L19.9999 12Z"
                fill="#FFFFFF" />
            </g>
            <defs>
              <clipPath id="clip0_66_4078">
                <rect width="48" height="48" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
      </div>
      <div>
        <button class="flex justify-center items-center px-4 py-2 gap-2 bg-white border-2 border-sky-400 rounded-full">
          <span class="font-bold text-sky-400 whitespace-nowrap">Probeer Unify Phone 30-dagen gratis!</span>
          <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_66_4078)">
              <path d="M19.9999 12L17.1699 14.83L26.3399 24L17.1699 33.17L19.9999 36L31.9999 24L19.9999 12Z"
                fill="#38BDF8" />
            </g>
            <defs>
              <clipPath id="clip0_66_4078">
                <rect width="48" height="48" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
      </div>

    </div>
  </div>
  <div class="pt-8">
    <img
      src="https://publisher.impartner.io/static/customer-resources/unify-partner-program/assets/Unify-Phone-061220231112.png">
  </div>
</div>

<div class="flex flex-col lg:flex-row items-center justify-center gap-16 bg-gray-100 pb-12">
  <div class="flex flex-col gap-4 max-w-72 ">
    <h2 class="text-2xl font-semibold text-center text-sky-400">On premise / Hosted</h2>
    <div
      class="flex  bg-white justify-center items-center bg-center bg-cover bg-no-repeat p-4 w-full min-h-64 md:min-h-56 md:max-h-56 lg:max-h-64 md:max-w-32 lg:max-w-48 xl:max-w-80 xl:min-w-64 lg:h-64 rounded-lg">
      <img
        src="https://prodtcma.blob.core.windows.net/customer-resources/unify-partner-program/assets/MS-OpenScape-Business-071220232212.png"
        alt="">
    </div>
    <p class="text-sky-400 text-center">
      Maak verbinding met een lokale of
      gehoste OpenScape telefonie oplossing voor MKB/KMO ondernemingen
    </p>
  </div>

  <div class="flex lg:hidden">
    <img class="w-14 h-14" src="https://tcmacore.dev.azw2k8-public.impartner.io/static/customer-resources/rv-portal-template/assets/arrow-down-051220232112.png" alt="">
  </div>

  <div class="hidden lg:flex">
    <img class="w-14 h-14" src="https://tcmacore.dev.azw2k8-public.impartner.io/static/customer-resources/rv-portal-template/assets/Arrow-right-051220232112.png" alt="">
  </div>

  <div class="flex flex-col gap-4 max-w-72 ">
    <h2 class="text-2xl font-semibold text-center text-sky-400">Hybrid</h2>
    <div
      class="flex  bg-white justify-center items-center bg-center bg-cover bg-no-repeat p-4 w-full min-h-64 md:min-h-56 md:max-h-56 lg:max-h-64 md:max-w-32 lg:max-w-48 xl:max-w-80 xl:min-w-64 lg:h-64 rounded-lg">
      <img
        src="https://publisher.impartner.io/static/customer-resources/unify-partner-program/assets/Hybid-061220231112.png"
        alt="">
    </div>
    <p class="text-sky-400 text-center">
      Unify Phone biedt een uniforme ervaring voor telefonie op elk apparaat
    </p>
  </div>

  <div class="flex lg:hidden">
    <img class="w-14 h-14" src="https://tcmacore.dev.azw2k8-public.impartner.io/static/customer-resources/rv-portal-template/assets/arrow-down-051220232112.png" alt="">
  </div>

  <div class="hidden lg:flex">
    <img class="w-14 h-14" src="https://tcmacore.dev.azw2k8-public.impartner.io/static/customer-resources/rv-portal-template/assets/Arrow-right-051220232112.png" alt="">
  </div>

  <div class="flex flex-col gap-4 max-w-72 ">
    <h2 class="text-2xl font-semibold text-center text-sky-400">Cloud</h2>
    <div
      class="flex  bg-white justify-center items-center bg-center bg-cover bg-no-repeat p-4 w-full min-h-64 md:min-h-56 md:max-h-56 lg:max-h-64 md:max-w-32 lg:max-w-48 xl:max-w-80 xl:min-w-64 lg:h-64 rounded-lg">
      <img class="max-h-48"
        src="https://prodtcma.blob.core.windows.net/customer-resources/unify-partner-program/assets/MS-cloud-071220232212.png"
        alt="">
    </div>
    <p class="text-sky-400 text-center">
      Eenvoudige integratie met cloud applicaties voor efficienter samenwerken
    </p>
  </div>
</div>