<div class=" flex flex-col lg:flex-row lg:justify-center lg:items-center px-4 py-6 bg-gray-100">
  <div class="flex flex-col gap-6 pr-14 ">
    <img class="max-w-96"
      src="https://publisher.impartner.io/static/customer-resources/unify-partner-program/assets/OSBizX3RV3trans2400x123-020220241102.png"
      alt="">
    <h1 class="text-3xl text-sky-400 font-medium max-w-md">
      OpenScape Business
    </h1>
    <p class=" max-w-md">Biedt één unieke gebruikservaring, waar u ook bent</p>
    <div class="flex flex-col lg:flex-row gap-7">
      <div>
        <button class="flex justify-center items-center px-4 py-2 rounded-full bg-sky-400 gap-2">
          <span class="font-bold text-white ">Offerte Aanvragen</span>
          <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_66_4078)">
              <path d="M19.9999 12L17.1699 14.83L26.3399 24L17.1699 33.17L19.9999 36L31.9999 24L19.9999 12Z"
                fill="#FFFFFF" />
            </g>
            <defs>
              <clipPath id="clip0_66_4078">
                <rect width="48" height="48" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
      </div>
      <div>
        <button class="flex justify-center items-center px-4 py-2 rounded-full bg-sky-400 gap-2">
          <span class="font-bold text-white "> Download Brochure</span>
          <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_66_4078)">
              <path d="M19.9999 12L17.1699 14.83L26.3399 24L17.1699 33.17L19.9999 36L31.9999 24L19.9999 12Z"
                fill="#FFFFFF" />
            </g>
            <defs>
              <clipPath id="clip0_66_4078">
                <rect width="48" height="48" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
      </div>
    </div>

    <p class=" max-w-md">Moderne communicatiesystemen kunnen meer doen, dan alleen u helpen in contact te blijven met uw
      collega’s, ze kunnen u bedrijf ingrijpend veranderen. Ze kunnen de samenwerking tussen kantoren verbeteren en
      flexibel thuiswerken mogelijk maken.</p>
  </div>
  <div class="pt-8">
    <h1 class=" font-semibold text-center pb-5">Belangrijkste functies van OpenScape Business:</h1>
    <div class="flex flex-col lg:flex-row">
      <ul class="list-disc ml-8  max-w-md">
        <li class="max-w-xs">Mobiele interface voor smartphones, tablets en laptops
        </li>
        <li>Contact center mogelijkheden </li>
        <li>Zakelijke Voicemail</li>
        <li>Web-Collaboration</li>
        <li>Instant Messaging</li>
        <li>Live gesprekopname</li>
        <li>Geïntegreerde aanwezigheidsfunctie</li>
      </ul>
      <ul class="list-disc ml-8  max-w-md">
        <li>Gespreksoverzicht</li>
        <li>Toegang tot adresboek​</li>
        <li>Drag & Drop conferentie</li>
        <li>Pop-up gesprekken</li>
        <li>Persoonlijke Auto-Attendant</li>
        <li>In Groupware geïntegreerde UC</li>
        <li>Microsoft Teams integratie​</li>
      </ul>
    </div>
  </div>
</div>