<div class="flex flex-col lg:flex-row justify-center items-center p-6">
  <img class="lg:pl-80 pb-16"
    src="https://publisher.impartner.io/static/customer-resources/unify-partner-program/assets/Group-21-061220231112.png"
    alt="">
  <div class=" flex flex-col gap-5 lg:p-16 lg:max-w-4xl">
    <h1 class="  text-3xl text-sky-400 font-semibold ">
      Ontdek meer over OpenScape Business en waarom het de juiste oplossing is voor kleine en middelgrote bedrijven</h1>
    <div>
      <button class="flex justify-center items-center px-4 py-2 rounded-full bg-sky-400 gap-2">
        <span class="font-bold text-white ">Download Brochure</span>
        <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_66_4078)">
            <path d="M19.9999 12L17.1699 14.83L26.3399 24L17.1699 33.17L19.9999 36L31.9999 24L19.9999 12Z"
              fill="#FFFFFF" />
          </g>
          <defs>
            <clipPath id="clip0_66_4078">
              <rect width="48" height="48" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </button>
    </div> 
  </div>
</div>